In [78]:
import pandas as pd
import altair as alt
from urllib.error import HTTPError

In [79]:
def claim(claim_hash, cols_claim, data_claim):
    try:
        df_claim = pd.read_json(
            f"https://api.flipsidecrypto.com/api/v2/queries/{claim_hash}/data/latest",
            convert_dates=["BLOCK_TIMESTAMP"],
        )
    except:
        return pd.DataFrame(data_claim[claim_hash],columns=cols_claim[claim_hash])
    if(len(df_claim.columns)==0):
        return pd.DataFrame(data_claim[claim_hash],columns=cols_claim[claim_hash])
    return df_claim

In [80]:
def get_url(url):
    return pd.read_csv(url, index_col=0)

In [81]:
user_stats = '1'
hourly_new_users = '2'
wallet_age = '3'
hourly_stats = '4'
users_balance = '5'

In [82]:
cols_claim = {
    user_stats : ['SENDER', 'DURATION', 'AMOUNT'],
    hourly_stats : ['HR', 
                        'DEP_AMOUNT', 'DEPOSIT_TX', 'DEP_USERS',
                        'WITH_AMOUNT', 'WITH_TX', 'WITH_USERS',
                        'DEP_AMOUNT_3', 'DEP_AMOUNT_6', 'DEP_AMOUNT_9','DEP_AMOUNT_12', 'DEP_AMOUNT_15', 'DEP_AMOUNT_18',
                        'WITH_AMOUNT_3', 'WITH_AMOUNT_6', 'WITH_AMOUNT_9','WITH_AMOUNT_12', 'WITH_AMOUNT_15', 'WITH_AMOUNT_18',
    ],
    wallet_age : ['ADDRESS_COUNT', 'MIN_DATE'],
    hourly_new_users: ['TIME','NEW_USERS'],
    users_balance: ['SENDER','BALANCE  '],
}

In [94]:
data_claim = {
    user_stats : [['user1_1',3,10],
                  ['user1_2',3,3],
                  ['user1_3',3,4],
                  ['user1_4',3,67],
                  ['user1_5',3,33],
                 ['user1',9,20],
                 ['user1',18,15],
                 ['user2',3,10],
                 ['user2',6,120],
                 ['user2',18,13],
                 ['user2',3,10],
                 ['user3',6,120],
                 ['user3',18,13]],
    hourly_stats : [['2021-09-21T07:00:00Z',1000,4,3,
                    100,1,1,
                    10,20,30,40,50,60,
                    0,0,10,0,0,0],
                   ['2021-09-21T08:00:00Z',1000,4,3,
                    200,1,1,
                    10,10,30,10,50,5,
                    0,0,0,0,7,0],
                   ['2021-09-21T09:00:00Z',1000,4,3,
                    200,1,1,
                    10,10,30,10,50,5,
                    0,0,0,0,7,0]],
    wallet_age : ['ADDRESS_COUNT', 'MIN_DATE'],
    hourly_new_users: ['TIME','NEW_USERS'],
    users_balance: ['SENDER','BALANCE  '],
}

In [95]:
cols_dict = {}

In [96]:
with_phase1 = get_url('https://raw.githubusercontent.com/IncioMan/prism_forge/master/data/with_phase1.csv')
with_phase1

,sender,deposit,total_deposit,withdrawable_amount,tokens_to_claim,can_claim
0,terra12ca3npchsxgsmxuzwqr9vy257zh4ej9t9emjj3,960.000000,2.364414e+07,0.0,2842.141433,False
1,terra19f9jgp4y0aslj2tf4lhwptrq6jm96s2sqjvutq,0.000000,2.364414e+07,0.0,0.000000,False
2,terra1g9twcftmkxzn005judkrpez4h9eusvpenyvdjg,1000.000000,2.364414e+07,0.0,2960.563993,False
3,terra1sum9e6d6vxsg0yq62axn3hm8nptvwyy0dw8e08,70.000000,2.364414e+07,0.0,207.239479,False
4,terra14jvzcpn3wr57k572pepg3a0f862v8969m2d5kh,500.000000,2.364414e+07,0.0,1480.281996,False
...,...,...,...,...,...,...
5468,terra1ssfpxgkzt4yj0unmzx0cmrx6mhm5kl0g2mvy3k,76280.708184,2.364414e+07,0.0,225833.918028,False
5469,terra100dxspkurxsa29upl7s9pywqxtff70r6l9ux2u,1250.000000,2.364414e+07,0.0,3700.704991,False
5470,terra1xeve8vkkltsd9uzaqya78ywtspyc35hrvsvkvt,400.000000,2.364414e+07,0.0,1184.225597,False
5471,terra1wvlz4xfdz6yzq39accyuxkel4qp30lf38lmfsm,120.540000,2.364414e+07,0.0,356.866383,False
5472,terra1felswz3quya97ekqh06yy0dngj5gvwwwzpkp33,500.000000,2.364414e+07,0.0,1480.281996,False

###Â Data

**User stats**

In [97]:
user_stats_df = claim(user_stats,cols_claim,data_claim)
user_stats_df.columns = [c.lower() for c in user_stats_df.columns]
user_stats_df

     sender  duration  amount
0   user1_1         3      10
1   user1_2         3       3
2   user1_3         3       4
3   user1_4         3      67
4   user1_5         3      33
5     user1         9      20
6     user1        18      15
7     user2         3      10
8     user2         6     120
9     user2        18      13
10    user2         3      10
11    user3         6     120
12    user3        18      13

In [98]:
count_durations_users = \
    user_stats_df.groupby('sender').duration.nunique().reset_index()\
                 .groupby('duration').sender.count().reset_index()\
                 .rename(columns={
                            'duration':'Number of lockup durations',
                            'sender':'Number of users'})
count_durations_users

   Number of lockup durations  Number of users
0                           1                5
1                           2                2
2                           3                1

**Hourly stats**

In [99]:
hourly_stats_df = claim(hourly_stats,cols_claim,data_claim)
hourly_stats_df.columns = [c.lower() for c in hourly_stats_df.columns]
hourly_stats_df

,hr,dep_amount,deposit_tx,dep_users,with_amount,with_tx,with_users,dep_amount_3,dep_amount_6,dep_amount_9,dep_amount_12,dep_amount_15,dep_amount_18,with_amount_3,with_amount_6,with_amount_9,with_amount_12,with_amount_15,with_amount_18
0,2021-09-21T07:00:00Z,1000,4,3,100,1,1,10,20,30,40,50,60,0,0,10,0,0,0
1,2021-09-21T08:00:00Z,1000,4,3,200,1,1,10,10,30,10,50,5,0,0,0,0,7,0
2,2021-09-21T09:00:00Z,1000,4,3,200,1,1,10,10,30,10,50,5,0,0,0,0,7,0

In [102]:
hourly_stats_df['net_deposit_3'] = hourly_stats_df.dep_amount_3-hourly_stats_df.with_amount_3
hourly_stats_df['net_deposit_6'] = hourly_stats_df.dep_amount_6-hourly_stats_df.with_amount_6
hourly_stats_df['net_deposit_9'] = hourly_stats_df.dep_amount_9-hourly_stats_df.with_amount_9
hourly_stats_df['net_deposit_12'] = hourly_stats_df.dep_amount_12-hourly_stats_df.with_amount_12
hourly_stats_df['net_deposit_15'] = hourly_stats_df.dep_amount_15-hourly_stats_df.with_amount_15
hourly_stats_df['net_deposit_18'] = hourly_stats_df.dep_amount_18-hourly_stats_df.with_amount_18

In [133]:
time_duration_df = hourly_stats_df[['hr','net_deposit_3','net_deposit_6','net_deposit_9','net_deposit_12','net_deposit_15','net_deposit_18']]
time_duration_df = df.rename(columns={
    'net_deposit_3':'3 months',
    'net_deposit_6':'6 months',
    'net_deposit_9':'9 months',
    'net_deposit_12':'12 months',
    'net_deposit_15':'15 months',
    'net_deposit_18':'18 months'
})
time_duration_df = time_duration_df.melt(id_vars=["hr"], 
        var_name="Lockup period", 
        value_name="UST deposited")

### Charts

In [152]:
alt.Chart(time_duration_df.rename(columns={'hr':'Time'})).mark_line(point = True).encode(
    x='Time:T',
    y='UST deposited:Q',
    color=alt.Color('Lockup period:N', scale=alt.Scale(scheme='pastel1')),
    tooltip=[alt.Tooltip('Time:T', format='%Y-%m-%d %H:%M'),'UST deposited:Q','Lockup period:N']
)

alt.Chart(...)

In [88]:
n_tx_wallet_chart = alt.Chart(count_durations_users).mark_line(point = True, color='#7DDBD3').encode(
    y=alt.Y('Number of users:Q', sort="ascending"),
    x="Number of lockup durations:O",
    tooltip=['Number of users:Q',"Number of lockup durations:Q"]
).properties(height=300).configure_view(strokeOpacity=0)
n_tx_wallet_chart

alt.Chart(...)